*{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 1000px;
    height: 660px;
    border: 5px solid #000;
    margin: auto;
}
.header{
    width:1000px;
    height: 100px;
    background-color:#000;
}
.header img{
    width:1000px;
    height: 100px;
}
.menu{
    width: 1000px;
    height: 30px;
    border: 1px solid rgb(74, 74, 114);
}
.menu ul{
    width: 100%;
    height: 30px;
    list-style: none;
}
.menu ul li{
    float: left;
    line-height: 30px;
    margin-left: 10px;
}
.menu ul li a{
    color: #000;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
.content{
    width: 100%;
    height: 530px;
    border: 1px solid #000;
    /* background-color:#000; */
}

.listview{
    width: 1000px;
    height: 530px;
    /* border: 1px solid rgb(74, 74, 114);
    background-color:#000; */
}
.listview ul{
    width: 100%;
    height: 30px;
    list-style: none;
}
.listview ul li{
    float: left;
    line-height: 30px;
    margin-left: 10px;
}
.left{
    width: 300px;
    height: 530px;
    border: 1px solid rgb(74, 74, 114);
    float: left;
}
.left p{
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: blue;
    color:white;
}
.right{
    width: 690px;
    height: 530px;
    float: right;
    border:1px solid #000;
}
.right p{
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    color:white;
}
.right ul{
    width: 100%;
    height: 30px;  
    list-style: none;
}
.right ul li{
    /* float: right; */
    text-align: center;
    line-height: 30px;
    margin-top:10px;
    margin-left: 30px;
}

.right img{
    width: 20px;
    height: 20px;

}
